
{% extends "core/home.template.html" %}

{% block plugins %}
		<div style="margin-left: 10%;">
			<h1> <span style="color:green; font-weight: 500;">Witaj @{{login}} !</span></h1> 
			<div style="margin-left: 5%; margin-top: 5%;">
				<table>
					<tr>
						<td><b>Imię: </b></td>
						<td>{{name}} </td>
					</tr>
					<tr>
						<td><b>Nazwisko: </b></td>
						<td>{{surname}} </td>
					</tr>
					<tr>
						<td><b>Data ważności konta: </b></td>
						<td>{{validity}} </td>
					</tr>
					<tr>
						<td><b>Email: </b></td>
						<td>{{email}} </td>
					</tr>
				</table>
			</div>
			<h2> <span style="color:green; font-weight: 500;">Aktywne sesje: </span></h1> 
			<div style="margin-left: 5%; margin-top: 5%;">
				<table border="1">
					<tr>
						<td></td>
						<td><b>Czas startu</b></td>
						<td><b>Ostatnia aktywność</b></td>
						<td><b>IP</b></td>
						<td></td>
					</tr>
					{% for session in active_sessions %}
						<tr>
							{% if session.id == current_session.id %}
								<td style="color:green;"><b>Aktywna</b></td>
							{% else %}
								<td></td>
							{% endif %}
							<td>{{session.time_start}}    </td>
							<td>{{session.last_activity}} </td>
							<td>{{session.remote}}        </td>
							<td><a href="/{{ app_base }}/account.delete_session/{{ session.id }}/"><span class="delete_session">zamknij sesję </span></a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<div style="color:red; text-align: left; margin-left: 80%; margin-top: 5%;">
				<a href="https://hackerspace-krk.pl/darowizny" style="color: blue; font-weight: 200;">złóż darowiznę</a>
				<br>
				<a href="https://wiki.hackerspace-krk.pl/finanse/skladki" style="color: red; font-weight: 200;">zapłać składkę</a>
			</div>
		</div>
{% endblock %}