{% extends "core/home.template.html" %}

{% block plugins %}
<div style="margin-left: 10%;">
	<div style="margin-left: 5%; margin-top: 5%;">
		<table class="userinfo">
			<tr>
				<td><b>Imię: </b></td>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<td><b>Nazwisko: </b></td>
				<td>{{ user.surname }}</td>
			</tr>
			<tr>
				<td><b>Email: </b></td>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<td><b>Numer konta</b></td>
				<td>1111 2222 3333 4444 5555 6666</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}
