{% extends "core/home.template.html" %}

{% block plugins %}

 

<input type="text" placeholder="wyszukaj" style="margin-left:69%; ">





<table  cellpadding="5px;" style="min-width: 706px;">
<tr  style="font-weight: 700;">
	<td>Numer Fatury</td>	<td>Data Wystawienia</td> <td>kwota</td>    <td>Zwrócona</td>   <td>grupa</td> 
</tr>
<tr>
	<td>222</td>	<td>30/04/1990</td>   <td>200</td><td>Tak</td><td>brak</td>
   
</tr>
<tr>
	<td>222</td>	<td>30/04/1990</td>   <td>300</td><td>Oczekuje na zwrot</td><td>brak</td>
   
</tr>
<tr>
	<td>222</td>	<td>30/04/1990</td>   <td>300</td><td>Nie</td><td>brak</td>
   
</tr>


</table>








{% endblock %}