{% extends "core/home.template.html" %}

{% block plugins %}
<form action="/{{ app_base }}/invoice.all" method="post">
			{% csrf_token %}
			
	<div class="col-sm-1">Od:</div>
    <div class="col-sm-5"><input type="date" name="od"/></div>
    <div class="col-sm-1">Do:</div>
    <div class="col-sm-5"><input type="date" name="do"/></div>
	<br />
	<div class="col-sm-8"><button type="submit">Ok</button></div>
			
	<table class="table table-hover">
	  <thead>
		<tr>
			<th>Numer Faktury</th>
			<th>Data Wystawienia</th>
			<th>Data Dodania</th>
			<th>Kwota</th>
			<th>Stan</th> 
			<th>Rodzaj wydatku</th>
			<th>Opis</th>
		</tr>
	  </thead>
	  <tbody>
		{% if invoices %}
			{% for invoice in invoices %}
				<tr>
					<td>
						<a href="/{{ app_base }}/invoice/{{ invoice.id }}/">
							{{ invoice.invoice_number }}
						</a>
					</td>
					<td>{{ invoice.issue_date }}</td>
					<td>{{ invoice.add_date}}</td>
					<td>{{ invoice.amount }}</td>
					<td>{% if invoice.with_cashbacked == True %}
							{% if invoice.cashbacked == True %}
								Faktura została zwrócona
							{% else %}
								<a href="/{{ app_base }}/account.info/{{ invoice.id }}">
									Do zwrotu!!!
								</a>
							{% endif %}
						{% else %}
							Faktura nie wymaga zwrotu
						{% endif %}
					</td>
					<td>{{invoice.group}}</td>
					<td>{{invoice.description}}</td>				
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="4" style="text-align: center;">Brak elementów do wyświetlenia.</td>
			</tr>
		{% endif %}
	  </tbody>
	</table>




{% endblock %}