{% extends "core/home.template.html" %}

{% block plugins %}
<div style="margin-left: 10%;">
	<h1>
		<span style="color:green; font-weight: 500;">{{ book.title }}</span>
	</h1> 
	<h2>
		<span style="color:green; font-weight: 250;">Ilość stron: {{book.pages}}</span>
	</h2> 
	<h3>
		<span style="color:green; font-weight: 250;">Opis:</span>
	</h3> 
	<div>
		{{book.description}}
	</div>
	<h3>
		<span style="color:green; font-weight: 250;">Recenzja:</span>
	</h3> 
	<div>
		{{book.review}}
	</div>
</div>
{% endblock %}