
{% extends "core/home.template.html" %}

{% block plugins %}
<div style="margin-left: 20%;">
   <span style="font-weight: 900; text-align: ceneter; ">Aby aktywować konto należy zrealizować przelew</span>
   </br>
</br>
  <b>Tytuł: </b>	darowizna na cele statutowe, (tutaj ma być nazwa użytkownika)! </br>
  <b>Odbiorca:</b> Hackerspace	</br>
  <b>Kwota: </b> 50,00 PLN (lub wiecej)</br>	
  <b>Na rachunek: </b>18 1160 2202 0000 0002 2988 9025</br>
  <b>Dane odbiorcy:</b> Hackerspace, Zacisze 5p1 31-156 Kraków
</br>
</div>
{% endblock %}