{% extends "generic.template.html" %}

{% block content %}
<div class="row">
	<div class="middle">	
		<div class="col-sm-3">
			{% block sidemenu %}
				<ol>
					<li><a href="/">strona główna</a></li>
					{% include "tools/sidemenu.template.html" %}
					{% include "resource/sidemenu.template.html" %}
					{% include "books/sidemenu.template.html" %}
					{% include "invoice/sidemenu.template.html" %}
					{% include "account/sidemenu.template.html" %}
				</ol>
			{% endblock %}
		</div>
		<div class="col-sm-3">
			<div class="plugin">
				{% block plugins %}
					Witaj!
				{% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
