{% extends "generic.template.html" %}

{% block menu %}
	<div id="topmenu">
		<ul id="menu-gorne-menu" class="nav nav-pills">
			<li class="menu-item"><a href="/">HOME</a></li>
			<li class="menu-item"><a target="_blank" href="http://wiki.hackerspace-krk.pl/">WIKI</a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	{% if error %}
		<div style="color:red; text-align: center;">{{ error }}</div>
		<br>
	{% endif %}

	{% if next %}
		<form action="/{{ app_base }}/login?next={{ next }}" method="post">
	{% else %}
		<form action="/{{ app_base }}/login" method="post">
	{% endif %}

		{% csrf_token %}
		<div class="container">
			<div class="row welcome text-center">
				<div class="span12">
					<p class="lead">Zaloguj się</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="span12 text-center">
					<table>
						<tr>
							<th><label for="login">Login</label></th>
							<td><input type="text" id="login" name="username" /></td>
						</tr>
						<tr>
							<th><label for="password">Hasło</label></th>
							<td><input type="password" id="password" name="password" /></td>
						</tr>
						<tr>
							<th><label for="submit"></label></th>
							<td><input type="submit" value="Zaloguj" /></td>
						</tr>
					</table>
					<hr>
					<div style="text-align: right">
						<a href="/{{ app_base }}/register" style="color:gray">Poproś o dostęp do panelu</a>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
