{% extends "generic.template.html" %}

{% block banner %}
	<p class="lead">Zaloguj się</p>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span12 text-center">
			{% if next %}
				<form action="/{{ app_base }}/login?next={{ next }}" method="post">
			{% else %}
				<form action="/{{ app_base }}/login" method="post">
			{% endif %}
				{% csrf_token %}
				<table>
					<tr>
						<th><label for="login">Login</label></th>
						<td><input type="text" id="login" name="username" /></td>
					</tr>
					<tr>
						<th><label for="password">Hasło</label></th>
						<td><input type="password" id="password" name="password" /></td>
					</tr>
					<tr>
						<th><label for="submit"></label></th>
						<td><input type="submit" value="Zaloguj" /></td>
					</tr>
				</table>
			</form>
			<hr>
			<div style="text-align: right">
				<a href="/{{ app_base }}/register" style="color:gray">Poproś o dostęp do panelu</a>
			</div>
		</div>
	</div>
{% endblock %}
