{% extends "core/home.template.html" %}

{% block plugins %}
<div style="margin-left: 10%;">
               
              <div style="float:left; width: 50%;"> 
               
               

                <b> Zmiana Danych:</b> <br><br> 
       
                    
                    Nowa nazwa użytkownika<br> <input type="text" style="margin-right: 2%;" />
                    <br>
                 <button value="button"/>Zmień </button>
                  </br>
                    </br>
                    Nowy e-mail<br> <input type="email" style="margin-right: 2%;" />
                    <br>
                 <button value="button"/>Zmień </button>
                   </br>
                    


     </div>
         <div style="float:left;"> 

                    
                <b> Zmiana Hasła:</b> <br><br> 
      
                    
                    stare hasło</br> <input type="password" style="margin-right: 2%;" /><br>
                    nowe hasło</br> <input type="password" style="margin-right: 2%;" /><br>
                    powtórz hasło</br> <input type="password" style="margin-right: 2%;" /><br>
                 <button value="button"/>Zmień </button>
                  </br>
              
            
                
           
            </div>
</div>
{% endblock %}