{% extends "core/home.template.html" %}

{% block plugins %}
	<!-- <div class="row"><b>Przedłuż:</b></div><br> -->
	<form action="/{{ app_base }}/tools.prolong/{{ tool.id }}/" method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="col-sm-4">Narzędzie</div>
			<div class="col-sm-8">
				<input type="text" placeholder="{{ tool.name }} / {{ tool.placement.room_name }}" disabled>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">Planowana data oddania</div>
			<div class="col-sm-8">
				<input id="date" type="date" name="return_date" value="{{ lent.planned_return_date|format_date:'%Y-%m-%d' }}">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8"><button type="submit">Zatwierdż</button></div>
		</div>
	</form>
{% endblock %}
