{% extends "core/home.template.html" %}

{% block plugins %}
	<div class="row">
		<div class="col-sm-4">Narzędzie</div>
		<div class="col-sm-8"><input type="text" placeholder="{{ tool.name }} / {{ tool.placement.room_name }}" disabled></div>
	</div>
	<br><br>
	<h3>Historia</h3>
	{% if lents %}
		<table>
			<tr>
				<th>Data wypożyczenia</th>
				<th>Data zwrotu</th>
				<th>Użytkownik</th>
				<th>Komentarz</th>
			</tr>
			{% for lent in lents %}
				<tr>
					<td>{{ lent.lent_date|format_date:"%Y/%m/%d" }}</td>
					<td>{{ lent.return_date|format_date:"%Y/%m/%d" }}</td>
					<td>{{ lent.member.cn }}</td>
					<td>{{ lent.comment }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		Brak elementów do wyświetlenia.
	{% endif %}
{% endblock %}
