{% extends "core/home.template.html" %}

{% block plugins %}

 

<input type="text" placeholder="wyszukaj" style="margin-left:69%; ">





<table  cellpadding="5px;" style="min-width: 706px;">
<tr  style="font-weight: 700;">
	<td>Sprzęt</td>	<td>Opis</td>   <td>Miejsce</td>   <td>Wpożycz</td> 
</tr>
<tr>
	<td>śrubokręt</td>	<td>wywierci dziure w głowie</td>   <td>Hard Room</td>
   <td> <a href="#"><span class="oddaj"> oddaj</span></a></td> 
</tr>
<tr>
	<td>Wiertarka</td>	<td>Taki tam próbny tekst, wywiercimy coś na ścianie</td> <td>Hard Room</td>
 <td> <a href="#"><span class="wypozycz">wypożycz</span></a></td> 
</tr>
<tr>
	<td>Papier ścierny</td>	<td>Mozesz sobie zrobic co chcesz</td>  <td>Hard Room</td>
	 <td> nie dostępne</td> 
</tr>
<tr>
	<td>Wiertarka</td>	<td>Taki tam próbny tekst, wywiercimy coś na ścianie</td> <td>Soft Room</td>
 <td> <a href="#"><span class="wypozycz">wypożycz</span></a></td> 
</tr>
<tr>
	<td>Spawarka</td>	<td>Taki tam próbny tekst, wywiercimyianie</td> <td>Lab Room</td>
 <td> <a href="#"><span class="wypozycz">wypożycz</span></a></td> 
</tr>
<tr>
	<td>Młotek</td>	<td>Taki tam próbny tekst, wywiercimy coś na ścianie</td> <td>Hard Room</td>
 <td> <a href="#"><span class="wypozycz">wypożycz</span></a></td> 
</tr>
</table>








{% endblock %}