.leftmenu{
    
     float:left;
     width: 15%;
     min-height: 400px;
     margin-top:3%;

}
.plugin{
 
     margin: 3%;
     padding: 10px;
     float:left;
   
 
}
ol{
    
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;

}
.middle{
   
   padding: 10px;

}
ol a{

    color: black;
    text-decoration: none;
    display: block;

}
ol>li{
         
    padding: 5px;
    min-block-size: 20px;
    margin-bottom: 20px;



}
ol>li:hover>a{

   color: black;
    text-decoration: none;
    color:#b9bfbc;

}
ol>li>ul{
  
    padding: 0;
    margin: 10px;
    font-size: 16px;
    height: 20px;
    list-style-type: square;
    display: none;
    




}
ol>li>ul>li{
  padding: 3px;
  min-block-size: 10px;
  margin-left: 15px;


}
ol>li:hover>ul{

        display: block;
        margin-bottom: 50px;

}

ol>li>ul>li:hover>a{

   color: black;
   text-decoration: none;
   color:#F04F3D;
  

}

button{
 
text-align: center;
width: 150px;
background-color: #eee;
border: 2px solid #ddd;
border-radius: 5px;
font-size: 15px;



}
.plugin{

   min-width: 690px;

}
.oddaj{
 color:blue;
}
.wypozycz{
    color:green;
}
.przedloz{

    color: grey;
}
a:hover{
    text-decoration-line: none;
}
a:visite{
    text-decoration-line: none;
}
a:active{
    text-decoration-line: none;
}
a:link{
    text-decoration: none;
}
.inputStyle{

    float: left; margin-right: 30px; margin-left: 30px;
    min-width: 200px;
}

.username {
  color: #8bc91d;
  font-weight: bold;
}

.form td { vertical-align: middle; }