
.middle
{
	padding: 10px;
}

.plugin
{
	padding-top: 20px;
	min-height: 500px;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	text-decoration: none;
	display: block;
}

ol > li
{
	width: 150px;
	height: 40px;
}

ol > li:hover
{
	background-color: white;
}

ol > li:hover > a
{
	color: black;
}

ol > li > ul
{
	list-style-type: none;
	display: none;
	margin-left: 130px;
	margin-top: 0px;
	bottom: 300px;
	margin-top: -20px;
}

ol > li:hover > ul
{
	display: block;
	display: inline-block;
}

ol > li > ul > li
{
	position: relative;
	z-index: 100;
	width: 150px;
	height: 40px;
	background-color: white;
}

ol > li > ul > li:hover
{
	background-color: white;
}

ol > li > ul > li:hover > a
{
	color: black;
}

button
{
	text-align: center;
	width: 120px;
	background-color: #eee;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 15px;
}

button[disabled], html input[disabled] {
    cursor: default;
    color: lightgrey;
}

.oddaj
{
	color: blue;
}

.wypozycz
{
	color: green;
}

.przedloz
{
	color: gray;
}

.edytuj
{
	margin-right: 10px;
}

a:hover
{
	text-decoration-line: none;
}

a:visited
{
	text-decoration-line: none;
}

a:active
{
	text-decoration-line: none;
}

a:link
{
	text-decoration: none;
	color: black;
}

.inputStyle
{
	float: left;
	margin-right: 30px;
	margin-left: 30px;
	min-width: 200px;
}

.username
{
	color: #8bc91d;
	font-weight: bold;
}

.userinfo td
{
	padding:5px;
}

.sessions-list th, .sessions-list td
{
	padding: 5px;
	border-bottom: 1px solid #444;
}

.delete-session
{
	font-size: 1.7em;
	color: red;
}

.lead
{
	margin-bottom: 30px;
}

#count
{
	font-size: 3em;
	line-height: 1em;
}

.copyright {
	font-size: 0.7em;
}

h3>a:link, h3>a:visited, h3>a:active
{
	color: #F04F3D !important;
	text-decoration: underline !important;
}

strong.wrong
{
	margin-left: 50px;
	text-align: right;
}

form table
{
	width: 100%;
	text-align: left;
}

.listalarm
{
	display: inline-block;
	color: red;
	font-size: 1.6em;
	margin-top: -0.3em;
}

.itemalarm
{
	display: inline-block;
	color: red;
	font-size: 6em;
	margin-top: 0.2em;
}
