{% extends "core/home.template.html" %}

{% block plugins %}
	<input type="text" placeholder="wyszukaj" style="margin-left:69%; ">
  <table class="table table-hover">
	  <thead>
		<tr>
			<th>Nazwa</th>
			<th>Opis</th>
			<th>Ilość</th>
            <th>Alarm!</th>
			<th>Akcje</th> 
		</tr>
	  </thead>
	  <tbody>
		{% if resources %}
			{% for tool in tools %}
				<tr>
					<td>{{ resource.name }}</td>
					<td>{{ resource.description }}</td>
					<td>{{ resource.amount }}</td>
                    <td>Alarm</td>
					<td>
						{% if display_edit and tool.member == user %}
							<a href=""><span class="wypozycz">użyj</span></a>
						{% else %}
							&nbsp;
						{% endif %}
					</td> 
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<br><br>
			</tr>
			<tr>
				<td colspan="4" style="text-align: center;">Brak elementów do wyświetlenia.</td>
			</tr>
		{% endif %}
	  </tbody>
	  </table>
{% endblock %}
