{% extends "core/home.template.html" %} {% block plugins %}



<table cellpadding="5px;" style="min-width: 606px;">
    <tr>
        <td>Nazwa:</td>
        <td>tutaj bedzie nazwa</td>
    </tr>
    <tr>
        <td>Opis:</td>
        <td>tutaj bedzie opis</td>

    </tr>
</table>

<br/>
<br/>
<br/>

<div class="row">
    <div class="col-sm-10"></div>
   <div class="col-sm-2" > <a href="#" style="color:green">Uzupełnij</a></div>
</div>
<div class="row">
     <div class="col-sm-10"></div>
   <div class="col-sm-2" > <a href="#" style="color:blue">Edytuj</a></div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>Data</th>
            <th>Ilość</th>
            <th>Komentarz</th>

        </tr>
    </thead>
    <tbody>
        {% if resources %} {% for tool in tools %}
        <tr>
            <td>{{ resource.user }}</td>
            <td>{{ resource.data }}</td>
            <td>{{ resource.amount }}</td>
            <td>{{ resource.comment }}</td>
        </tr>
        {% endfor %} {% else %}
        <tr>
            <br><br>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center;">Brak elementów do wyświetlenia.</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %} 