{% extends "core/home.template.html" %}

{% block plugins %}
	<table cellpadding="5px;" style="min-width: 706px;">
		<tr style="font-weight: 700;">
			<td>ID</td>
			<td>LDAP</td>
			<td>cn</td>
			<td>Imię</td>
			<td>Nazwisko</td> 			
			<td>Email</td>
			<td>Ważność konta</td>
			<td>Poziom</td>
		</tr>
		{% if user %}
				<tr>
					<td>taktakakaka<a href="/{{ app_base }}/user.show/{{ user.id }}/"><span class="user_id">{{ user.id }}</span></a></td>
					<td><a href="/{{ app_base }}/user.ldap/{{ user.ldap }}/">{{ user.ldap }}</a></td>
					<td><a href="/{{ app_base }}/user.cn/{{ user.cn }}/">{{ user.cn }}</a></td>
					<td>{{ user.name }}</td>
					<td><a href="/{{ app_base }}/user.surname/{{ user.surname }}/">{{ user.surname }}</a></td>
					<td><a href="/{{ app_base }}/user.email/{{ user.email }}/">{{ user.email }}</a></td>
					<td><a href="/{{ app_base }}/user.validity/{{ user.validity }}/">{{ user.validity }}</a></td>
					<td><a href="/{{ app_base }}/user.role/{{ user.role }}/">{{ user.role }}</a></td>
				</tr>
		{% else %}
			<tr>
				<br><br>
			</tr>
			<tr>
				<td colspan="4" style="text-align: center;">Brak elementów do wyświetlenia.</td>
			</tr>
		{% endif %}
	<br /> 
	<h2>
		<h3>Rfid</h3>
	</h2>
	<div style="margin-left: 5%; margin-top: 5%;">
		<table class="rfid-list">
			<tr>
				<td><b>Id</b></td>
				<td><b>Aktywny</b></td>
				<td></td>
			</tr>
			{% if rfids %}
				{% for r in rfids %}
					<tr>
						<td>{{ r.id }}</td>
						<td>{{ r.active }}</td>
						<td><a href="/{{ app_base }}/account.rfid_state/{{ r.id }}/"><span class="change_rfid">&otimes;</span></a></td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<br><br>
				</tr>
				<tr>
					<td colspan="4" style="text-align: center;">Brak elementów do wyświetlenia.</td>
				</tr>
			{% endif %}
		</table>
	</div>
	</table>
{% endblock %}